/* .color_1{
    color: #223240;
}
.color_2{
    color: #F28705;
}
.color_3{
    color: #8C3503;
} 
.color_4{
    background-color: #591902;
}
.color_5{
    color: #53616F;
} */

h1 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}


 @keyframes color-change-5x {
    0% {
      background: #223240;
    }
    25% {
      background: #F28705;
    }
    50% {
      background: #8C3503;
    }
    75% {
      background: #591902;
    }
    100% {
      background: #53616F;
    }
  }

  .color-change-5x {
	animation: color-change-5x 8s linear infinite alternate both;
}
  